 <div class="container" style="background-color:#101010; color:#999; ">       
        <footer>
            <div class="row">
                <div class="col-lg-3">
                    <a href="#"> Feedback</a>
                </div>
                <div class="col-lg-3">
                    <a href="#">FAQ's</a>
                </div>
                <div class="col-lg-3">
                    <a href="#">Help</a>
                </div>
                <div class="col-lg-3">
                    <a href="#">Copyright &copy; VaaYu 2015</a>   
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-6">
                    <!-- <a href="#"> Follow us on</a> -->
                    
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li> <b>Follow us on</b> </li>
                        <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                        <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                        <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a>
                        </li>
                   </ul>
                </div>
                <div class="col-lg-6"><!-- 
                    <a href="#">Download our app</a> -->
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li><b> Download our App</b></li>
                        <li class="tooltip-social facebook-link"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class=" icon-android icon-2x"></i> icon-android</a>
                        </li>
                        <li class="tooltip-social linkedin-link"><a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class=" icon-android icon-2x"></i> icon-android</a>
                        </li>
                        <li class="tooltip-social twitter-link"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class=" icon-apple icon-2x"></i> icon-apple</a>
                        </li>
                        
                    </ul>
                </div>
                
            </div>

        </footer>
    </div>
    <br>