

<div class="container">

        <%= render partial: 'header' %>

              <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit Your information</h1>
                
            </div>
        </div>

			<%= render partial: 'form' %>

        <hr>

        <!-- Footer -->
        <%= render partial: 'footer' %>
        
    </div>
    <!-- /.container -->

