
    

    <!-- Page Content -->
    <div class="container">

        <%= render partial: 'header' %>

        <hr>

        

       	<%= render partial: 'form' %>

        <hr>
        
        <%= render partial: 'footer' %>
        
    </div>
    <!-- /.container -->








