<footer>
            <div class="row">
                <div class="col-lg-3">
                    <a href="#"> Feedback</a>
                </div>
                <div class="col-lg-3">
                    <a href="#">FAQ's</a>
                </div>
                <div class="col-lg-3">
                    <a href="#">Help</a>
                </div>
                <div class="col-lg-3">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-6">
                    <a href="#"> Follow us on</a>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">Facebook</a>
                        </li>
                        <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn">Linkedin</a>
                        </li>
                        <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">Twitter</a>
                        </li>
                        <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">Google+</i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <a href="#">Download our app</a>
                    <ul class="list-unstyled list-inline list-social-icons">
                      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">Android</a>
                        </li>
                        <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn">Windows</a>
                        </li>
                        <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">ISO</a>
                        </li>
                        
                    </ul>
                </div>

                
                
            </div>

</footer>