
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/pages/home">Blood Donation</a>
      <ul class="nav">
        <li class="active"><a href="/pages/home">Home</a></li>
        <li><a href="/pages/about">About</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="/sign_in">Sign In</a></li>
      </ul>
    </div>
  </div>
</div>


